body{
  font-family: sans-serif;
}
header{
  height: 120vh;
  display: flex;
}
.about{
  height: 300vh;
  display: flex;
}
.about-title{
  width: 50%;
  height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-size: 30px;
margin: 0!important;
}
.about-pages
{
  width: 50%;
}
.about-pages div{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.about-pages div>p{
  width: 80%;
  font-size: 18px;
  line-height: 30px;
}

.about-pages div:nth-child(1)
{
  background-color: #d4834a;
}
.about-pages div:nth-child(2)
{
  background-color: #bbbd4f;
}
.about-pages div:nth-child(3)
{
  background-color: #58babf;
}
