/* .bg--home
{
   background-color: /*#1d5c2e #E5E5E5;
} */
.pjj
{
  /* PRIYANKA JAIN */


position: absolute;
left: 8%;
line-height: 30vh;
/* top: 18%; */

font-family: sans-serif;
font-style: normal;
font-weight:lighter;
font-size: 20px;

color: rgba(162, 157, 157, 0.91);

}
span{

  transition: all 5s ease;
  transform: translateY(50px);
  /* display: inline-block; */
}
.fade{
  color:brown;
  transform: translateY(0px);
}

.wrapper
{
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  position: absolute;
  left: 20%;;
/* line-height: 45vh; */
  top: 23%;

  font-family: sans-serif;
  font-style: normal;
  font-weight:bold;
  font-size: 49px;
  /* line-height: 70px; */
  transform: translate(-50%,-50%);
color: #afbaa8;
}
.wrapper p
{
  position: absolute;
  padding: 0;
  margin: 0;

  /* text-shadow: 0 2px 0 rgba(0,0,0,0.25); */
}
#ani:before
{
  content: '';
  animation: animate infinite 8s;
}
@keyframes animate {
  0%{
    content: 'Freelancer.';
    color: blue;
  }
  20%{

  }
  40%{
    content: 'Designer ;)';
    color: red;
  }
  60%{
    content: 'Developer!';
    color: green;
  }
  80%{
    content: 'Painter?';
    color:brown;
  }
  100%{
    content: 'Engineer.';
    color: yellow;
  }


}

#caption
{
  /* Artist by heart and developer by Profession */

/* left: 60%; */
position: absolute;
text-align: center;
justify-content: center;
/* line-height: 40vh; */
top: 30%;


font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 38px;

color: #7f827d;

/* text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); */
}
#detail
{
  /* Currently a BTech(Computer Science) fourth year student at Banastali Vidyapith,Rajasthan. */

/* background-color: black; */
  position: absolute;
  text-align: center;
  justify-content: center;
/* left: 60%; */
  top: 41.92%;


  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 38px;

  color: #a2a69f;
}
.resume-btn
{
  position: absolute;
  left: 65.75%;

  top: 65.92%;


  font-family: sans-serif;

}

/* .img-position
{
  vertical-align: middle;
} */
/* @media (min-width: 2px)
.vertical-align--s-middle {
    vertical-align:middle;
}
.subtitled {
    margin-bottom: 0!important;
}
.uppercase {
    text-transform: uppercase!important;
}
.text-color--white {
    color: #fff;
} */
